.top{
    background-image: url(images/bg-2.png);
    background-repeat: no-repeat;
    
}
.beg-nav{
    border-radius: 10px;
    background-color:#ffffff;
}
.container{
    margin-bottom: 100px;
    
}


.see-all{
    float: right;
    text-decoration: none;
}


.buy-now{
    background-color: black;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;

}
.card {
    border: none;
    box-shadow: 5px 5px 10px lightgray;
}
.categories{
    padding: 60px 0px;
    text-align: center;

}
.cat{
    border: none;
    
    box-shadow: 15px 15px 20px rgb(146, 138, 138);
    height:250px ;
    width: 230px;
    padding: 50px;
}
#bag{
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
}
#perfume{
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
#shoe{
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
footer{
    text-align: center;
}
hr.new4 {
     border: 3px solid rgba(236, 50, 50, 0.849); 
     width: 120px;
     margin: auto;
     border-radius: 3px;
    
}
#sm{
    padding-top: 50px;
}
#lp{
    padding-top: 50px;
}
a:link {
    text-decoration: none;
    
  }
  .see{
    color: orange;
  }
  #text1{
    color: lightgray;
  }